<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card id="card">
        <ion-card-content>Home</ion-card-content>
      </ion-card>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="'{{usuario}}'" id="container">
    <ion-button [routerLink]="'/login'" expand="block" fill="clear" shape="round">
      <strong>Login</strong>
    </ion-button>
  </div>
</ion-content>
