<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card>
        <ion-card-content id="card">Home</ion-card-content>
      </ion-card>
      <ion-button (click)="play()">Play</ion-button>
      <ion-button (click)="pause()">Pause</ion-button>
      <ion-button (click)="stop()">Stop</ion-button>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="'{{usuario}}'" id="container">
    <ion-button [routerLink]="'/login'" expand="block" fill="clear" shape="round">
      <strong>Login</strong>
    </ion-button>
  </div>
</ion-content>
