<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Usuario:  {{ usuario }}</h1>
    <h3>Información Adicional </h3>

    <ion-list>
      <ion-item class="ion-align-items-center">
        <div class="row">
          <div class="col">
            <ion-label >Nombre</ion-label>
          </div>
          <div class="col">
            <ion-input [(ngModel)]="nombre" id="nombreIn" placeholder="Ingrese su nombre"></ion-input>
          </div>
        </div>
      </ion-item>
      <ion-item class="ion-align-items-center">
        <div class="row">
          <div class="col">
            <ion-label >Apellido</ion-label>
          </div>
          <div class="col">
            <ion-input [(ngModel)]="apellido" id="apellidoIn" placeholder="Ingrese su apellido"></ion-input>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nivel de educación</ion-label>
        <ion-select [(ngModel)]="nivelEducacion">
          <ion-select-option value="Primaria">Basica</ion-select-option>
          <ion-select-option value="Secundaria">Media</ion-select-option>
          <ion-select-option value="Universidad">Superior</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="limpiar()">Limpiar</ion-button>
    <ion-button expand="full" (click)="mostrar()">Mostrar</ion-button>
    <ion-button expand="full" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>

</ion-content>
